* {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* background-color: #e7e5e2; */
  /* background-color: aliceblue; */
  background: linear-gradient(
    5deg,
    rgba(231, 229, 226, 1) 0%,
    rgba(150, 124, 104, 1) 35%,
    rgba(65, 54, 45, 1) 100%
  );
}

/*Make it amplified*/
canvas {
  /*transform: scale(1.5);*/
  align-self: center;
  justify-self: center;
  border: 2px solid black;
}
