* {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  //background-color: #e7e5e2;
  background-color: aliceblue;
}

/*Make it amplified*/
canvas {
  /*transform: scale(1.5);*/
  align-self: center;
  justify-self: center;
}
