html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #e7e5e2;
}

/*Make it amplified*/
canvas {
  transform: scale(1.5);
}
